//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core
.btn {
  display: inline-block;
  @include ie7-inline-block();
  padding: 6px 14px;
  margin-bottom: 0; // For input.btn
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  *line-height: $baseLineHeight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  @include buttonFlat($btnBackground, $btnBackgroundHighlight);

  // Hover state
  &:hover {
    color: $white;
    text-decoration: none;
    background-color: darken($grayLight, 10%);
    *background-color: darken($grayLight, 15%); /* Buttons in IE7 don't get borders, so darken on hover */
    background-position: 0 -15px;

    // transition is only when going to hover, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    @include transition(background-position .1s linear);
  }

  // Active state
  &.active,
  &:active {
    background-color: darken($grayLight, 10%);
    background-color: darken($grayLight, 15%) \9;
    background-image: none;
    outline: 0;
    @include box-shadow(inset 0 3px 1px rgba(0,0,0,0.12));
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    background-color: darken($white, 10%);
    background-image: none;
    @include opacity(65);
    @include box-shadow(none);
  }

}

// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
  padding: 15px 24px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  @include border-radius(5px);
}
.btn-large [class^="icon-"] {
  margin-top: 2px;
}

// Small
.btn-small {
  padding: 3px 6px;
  font-size: $baseFontSize - 2px;
  line-height: $baseLineHeight - 2px;
}
.btn-small [class^="glyphicon-"] {
  margin-top: -1px;
}

// Mini
.btn-mini {
  padding: 2px 6px;
  font-size: $baseFontSize - 3px;
  line-height: $baseLineHeight - 4px;
}

// Block button
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  @include box-sizing(border-box);
}
.btn-block + .btn-block {
  margin-top: 5px;
}


// Alternate buttons
// --------------------------------------------------

// Provide *some* extra contrast for those who can get it
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,.75);
}

// Set the backgrounds
// -------------------------
.btn {
  // reset here as of 2.0.3 due to Recess property order
  border-color: #c5c5c5;
  border-color: rgba(0,0,0,.15) rgba(0,0,0,.15) rgba(0,0,0,.25);
}
.btn-primary {
  @include buttonFlat($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
}
// Warning appears are orange
.btn-warning {
  @include buttonFlat($btnWarningBackground, $btnWarningBackgroundHighlight, $white, 0 1px 0 rgba(0,0,0,0.23));
}
// Danger and error appear as red
.btn-danger {
  @include buttonFlat($btnDangerBackground, $btnDangerBackgroundHighlight);
}
// Success appears as green
.btn-success {
  @include buttonFlat($btnSuccessBackground, $btnSuccessBackgroundHighlight);
}
// Info appears as a neutral blue
.btn-info {
  @include buttonFlat($btnInfoBackground, $btnInfoBackgroundHighlight);
}
// Inverse appears as dark gray
.btn-inverse {
  @include buttonFlat($btnInverseBackground, $btnInverseBackgroundHighlight);
}


// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {

  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // IE7 has some default padding on button controls
  *padding-top: 3px;
  *padding-bottom: 3px;
  &.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
  }
  &.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
  &.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
  }
}


// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link
.btn-link,
.btn-link:active {
  background-color: transparent;
  background-image: none;
  @include box-shadow(none);
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: $linkColor;
  @include border-radius(0);
}
.btn-link:hover {
  color: $linkColorHover;
  text-decoration: underline;
  background-color: transparent;
}

/* Code

  <a href="#!" class="btn-shine">
      <span class="shine"></span>
      <span class="text">Download</span>
    </a>

*/
a.btn-shine {
  padding: 19px 24px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  background: $btnSuccessBackgroundHighlight;
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  border: 1px solid;
  border-color: #c5c5c5;
  border-color: rgba(255,255,255,.1) rgba(0,0,0,.15) rgba(0,0,0,.45);
  @include border-radius(5px);
  @include box-shadow(#{inset 0px 1px 0 rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.2)});
  @include transition(all .2s ease);
  background-image: -webkit-linear-gradient(bottom, $btnSuccessBackgroundHighlight 0%, $btnSuccessBackground 100%);
  background-image: -moz-linear-gradient(bottom, $btnSuccessBackgroundHighlight 0%, $btnSuccessBackground 100%);
  background-image: -ms-linear-gradient(bottom, $btnSuccessBackgroundHighlight 0%, $btnSuccessBackground 100%);
  background-image: -o-linear-gradient(bottom, $btnSuccessBackgroundHighlight 0%, $btnSuccessBackground 100%);
  background-image: linear-gradient(bottom, $btnSuccessBackgroundHighlight 0%, $btnSuccessBackground 100%);
}

a.btn-shine span.shine {
  content: '';
  position: absolute;
  height: 610px;
  width: 20px;
  background: white;
  top: -250px;
  left: -430px;
  display: block;
  opacity: 0.8;
  @include box-shadow(#{0px 0px 40px 10px $white});
  @include rotate(45deg);
  @include transition(all .6s ease);
}

a.btn-shine:hover {
  @include box-shadow(#{inset 0px 1px 10px 0px rgba(255,255,255,.4)});
}

a.btn-shine:active {
  @include box-shadow(#{inset 0px 1px 15px 0px rgba(0,0,0,.4), inset 0px 1px 1px 1px rgba(0,0,0,.2), 0px 1px 1px 0 rgba(255,255,255,.5)});
}

a.btn-shine:hover span.shine {
  @include transition(all .6s ease);
  left: 210px;
  top: -220px;
}
