//
// Posts
// --------------------------------------------------


// Base class
.post {
  min-height: 20px;
  padding: 0 20px;
  margin: 10px 0 20px 0;
  background-color: $postBackground;
  border: 1px solid rgba(153,153,153,0.6);
  @include border-radius(4px);
  @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,1), 0 2px 17px rgba(38,38,38,0.18)});
}

.post > h2 {
  font-family: "Source Sans Pro","Helvetica",Arial,sans-serif;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.post > h4 {
  font-family: "Lato","Helvetica",Arial,sans-serif;
  font-size: 19px;
  font-weight: 700;
}

.post > p {
  font-size: 14px;
}

.post > ul {
  font-size: 13px;
}

.post > h2 > small {
  letter-spacing: normal;
  font-weight: 300;
  font-size: 20px;
  text-transform: none;
}

// Sizes
.post-large {
  padding: 24px;
  @include border-radius(6px);
}
.post-small {
  padding: 9px;
  @include border-radius(3px);
}
