//
// Sprites
// --------------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="icon-inbox"></i>.

// For the white version of the icons, just add the .icon-white class:
// <i class="icon-inbox icon-white"></i>

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  @include ie7-restore-right-whitespace();
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}

/* White icons with optional class, or on hover/active states of certain elements */
.icon-white,
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("../images/glyphicons-halflings-white.png");
}

.icon-glass              { background-position: 0      0; }
.icon-music              { background-position: -24px  0; }
.icon-search             { background-position: -48px  0; }
.icon-envelope           { background-position: -72px  0; }
.icon-heart              { background-position: -96px  0; }
.icon-star               { background-position: -120px 0; }
.icon-star-empty         { background-position: -144px 0; }
.icon-user               { background-position: -168px 0; }
.icon-film               { background-position: -192px 0; }
.icon-th-large           { background-position: -216px 0; }
.icon-th                 { background-position: -240px 0; }
.icon-th-list            { background-position: -264px 0; }
.icon-ok                 { background-position: -288px 0; }
.icon-remove             { background-position: -312px 0; }
.icon-zoom-in            { background-position: -336px 0; }
.icon-zoom-out           { background-position: -360px 0; }
.icon-off                { background-position: -384px 0; }
.icon-signal             { background-position: -408px 0; }
.icon-cog                { background-position: -432px 0; }
.icon-trash              { background-position: -456px 0; }

.icon-home               { background-position: 0      -24px; }
.icon-file               { background-position: -24px  -24px; }
.icon-time               { background-position: -48px  -24px; }
.icon-road               { background-position: -72px  -24px; }
.icon-download-alt       { background-position: -96px  -24px; }
.icon-download           { background-position: -120px -24px; }
.icon-upload             { background-position: -144px -24px; }
.icon-inbox              { background-position: -168px -24px; }
.icon-play-circle        { background-position: -192px -24px; }
.icon-repeat             { background-position: -216px -24px; }
.icon-refresh            { background-position: -240px -24px; }
.icon-list-alt           { background-position: -264px -24px; }
.icon-lock               { background-position: -287px -24px; } // 1px off
.icon-flag               { background-position: -312px -24px; }
.icon-headphones         { background-position: -336px -24px; }
.icon-volume-off         { background-position: -360px -24px; }
.icon-volume-down        { background-position: -384px -24px; }
.icon-volume-up          { background-position: -408px -24px; }
.icon-qrcode             { background-position: -432px -24px; }
.icon-barcode            { background-position: -456px -24px; }

.icon-tag                { background-position: 0      -48px; }
.icon-tags               { background-position: -25px  -48px; } // 1px off
.icon-book               { background-position: -48px  -48px; }
.icon-bookmark           { background-position: -72px  -48px; }
.icon-print              { background-position: -96px  -48px; }
.icon-camera             { background-position: -120px -48px; }
.icon-font               { background-position: -144px -48px; }
.icon-bold               { background-position: -167px -48px; } // 1px off
.icon-italic             { background-position: -192px -48px; }
.icon-text-height        { background-position: -216px -48px; }
.icon-text-width         { background-position: -240px -48px; }
.icon-align-left         { background-position: -264px -48px; }
.icon-align-center       { background-position: -288px -48px; }
.icon-align-right        { background-position: -312px -48px; }
.icon-align-justify      { background-position: -336px -48px; }
.icon-list               { background-position: -360px -48px; }
.icon-indent-left        { background-position: -384px -48px; }
.icon-indent-right       { background-position: -408px -48px; }
.icon-facetime-video     { background-position: -432px -48px; }
.icon-picture            { background-position: -456px -48px; }

.icon-pencil             { background-position: 0      -72px; }
.icon-map-marker         { background-position: -24px  -72px; }
.icon-adjust             { background-position: -48px  -72px; }
.icon-tint               { background-position: -72px  -72px; }
.icon-edit               { background-position: -96px  -72px; }
.icon-share              { background-position: -120px -72px; }
.icon-check              { background-position: -144px -72px; }
.icon-move               { background-position: -168px -72px; }
.icon-step-backward      { background-position: -192px -72px; }
.icon-fast-backward      { background-position: -216px -72px; }
.icon-backward           { background-position: -240px -72px; }
.icon-play               { background-position: -264px -72px; }
.icon-pause              { background-position: -288px -72px; }
.icon-stop               { background-position: -312px -72px; }
.icon-forward            { background-position: -336px -72px; }
.icon-fast-forward       { background-position: -360px -72px; }
.icon-step-forward       { background-position: -384px -72px; }
.icon-eject              { background-position: -408px -72px; }
.icon-chevron-left       { background-position: -432px -72px; }
.icon-chevron-right      { background-position: -456px -72px; }

.icon-plus-sign          { background-position: 0      -96px; }
.icon-minus-sign         { background-position: -24px  -96px; }
.icon-remove-sign        { background-position: -48px  -96px; }
.icon-ok-sign            { background-position: -72px  -96px; }
.icon-question-sign      { background-position: -96px  -96px; }
.icon-info-sign          { background-position: -120px -96px; }
.icon-screenshot         { background-position: -144px -96px; }
.icon-remove-circle      { background-position: -168px -96px; }
.icon-ok-circle          { background-position: -192px -96px; }
.icon-ban-circle         { background-position: -216px -96px; }
.icon-arrow-left         { background-position: -240px -96px; }
.icon-arrow-right        { background-position: -264px -96px; }
.icon-arrow-up           { background-position: -289px -96px; } // 1px off
.icon-arrow-down         { background-position: -312px -96px; }
.icon-share-alt          { background-position: -336px -96px; }
.icon-resize-full        { background-position: -360px -96px; }
.icon-resize-small       { background-position: -384px -96px; }
.icon-plus               { background-position: -408px -96px; }
.icon-minus              { background-position: -433px -96px; }
.icon-asterisk           { background-position: -456px -96px; }

.icon-exclamation-sign   { background-position: 0      -120px; }
.icon-gift               { background-position: -24px  -120px; }
.icon-leaf               { background-position: -48px  -120px; }
.icon-fire               { background-position: -72px  -120px; }
.icon-eye-open           { background-position: -96px  -120px; }
.icon-eye-close          { background-position: -120px -120px; }
.icon-warning-sign       { background-position: -144px -120px; }
.icon-plane              { background-position: -168px -120px; }
.icon-calendar           { background-position: -192px -120px; }
.icon-random             { background-position: -216px -120px; width: 16px; }
.icon-comment            { background-position: -240px -120px; }
.icon-magnet             { background-position: -264px -120px; }
.icon-chevron-up         { background-position: -288px -120px; }
.icon-chevron-down       { background-position: -313px -119px; } // 1px, 1px off
.icon-retweet            { background-position: -336px -120px; }
.icon-shopping-cart      { background-position: -360px -120px; }
.icon-folder-close       { background-position: -384px -120px; }
.icon-folder-open        { background-position: -408px -120px; width: 16px; }
.icon-resize-vertical    { background-position: -432px -119px; } // 1px, 1px off
.icon-resize-horizontal  { background-position: -456px -118px; } // 1px, 2px off

.icon-hdd                     { background-position: 0      -144px; }
.icon-bullhorn                { background-position: -24px  -144px; }
.icon-bell                    { background-position: -48px  -144px; }
.icon-certificate             { background-position: -72px  -144px; }
.icon-thumbs-up               { background-position: -96px  -144px; }
.icon-thumbs-down             { background-position: -120px -144px; }
.icon-hand-right              { background-position: -144px -144px; }
.icon-hand-left               { background-position: -168px -144px; }
.icon-hand-up                 { background-position: -192px -144px; }
.icon-hand-down               { background-position: -216px -144px; }
.icon-circle-arrow-right      { background-position: -240px -144px; }
.icon-circle-arrow-left       { background-position: -264px -144px; }
.icon-circle-arrow-up         { background-position: -288px -144px; }
.icon-circle-arrow-down       { background-position: -312px -144px; }
.icon-globe                   { background-position: -336px -144px; }
.icon-wrench                  { background-position: -360px -144px; }
.icon-tasks                   { background-position: -384px -144px; }
.icon-filter                  { background-position: -408px -144px; }
.icon-briefcase               { background-position: -432px -144px; }
.icon-fullscreen              { background-position: -456px -144px; }

[class^="glyphicon-"],
[class*=" glyphicon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  @include ie7-restore-right-whitespace();
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-full.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}
.glyphicon-white,
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("../images/glyphicons-full-white.png");
}
.glyphicon-glass { background-position: 0 0 }
.glyphicon-leaf { background-position: -34px 0 }
.glyphicon-dog { background-position: -68px 0 }
.glyphicon-user { background-position: -102px 0 }
.glyphicon-girl { background-position: -136px 0 }
.glyphicon-car { background-position: -170px 0 }
.glyphicon-user-add { background-position: -204px 0 }
.glyphicon-user-remove { background-position: -238px 0 }
.glyphicon-film { background-position: -272px 0 }
.glyphicon-magic { background-position: -306px 0 }
.glyphicon-envelope { background-position: -340px 0 }
.glyphicon-camera { background-position: -374px 0 }
.glyphicon-heart { background-position: -408px 0 }
.glyphicon-beach-umbrella { background-position: -442px 0 }
.glyphicon-train { background-position: -476px 0 }
.glyphicon-print { background-position: -510px 0 }
.glyphicon-bin { background-position: -544px 0 }
.glyphicon-music { background-position: -578px 0 }
.glyphicon-note { background-position: -612px 0 }
.glyphicon-cogwheel { background-position: -646px 0 }
.glyphicon-home { background-position: -680px 0 }
.glyphicon-snowflake { background-position: -714px 0 }
.glyphicon-fire { background-position: -748px 0 }
.glyphicon-cogwheels { background-position: -782px 0 }
.glyphicon-parents { background-position: -816px 0 }
.glyphicon-binoculars { background-position: -850px 0 }
.glyphicon-road { background-position: -884px 0 }
.glyphicon-search { background-position: -918px 0 }
.glyphicon-cars { background-position: -952px 0 }
.glyphicon-notes-2 { background-position: -986px 0 }
.glyphicon-pencil { background-position: -1020px 0 }
.glyphicon-bus { background-position: -1054px 0 }
.glyphicon-wifi-alt { background-position: -1088px 0 }
.glyphicon-luggage { background-position: -1122px 0 }
.glyphicon-old-man { background-position: -1156px 0 }
.glyphicon-woman { background-position: -1190px 0 }
.glyphicon-file { background-position: -1224px 0 }
.glyphicon-credit { background-position: -1258px 0 }
.glyphicon-airplane { background-position: -1292px 0 }
.glyphicon-notes { background-position: -1326px 0 }
.glyphicon-stats { background-position: -1360px 0 }
.glyphicon-charts { background-position: -1394px 0 }
.glyphicon-pie-chart { background-position: -1428px 0 }
.glyphicon-group { background-position: -1462px 0 }
.glyphicon-keys { background-position: -1496px 0 }
.glyphicon-calendar { background-position: -1530px 0 }
.glyphicon-router { background-position: -1564px 0 }
.glyphicon-camera-small { background-position: -1598px 0 }
.glyphicon-dislikes { background-position: -1632px 0 }
.glyphicon-star { background-position: -1666px 0 }
.glyphicon-link { background-position: -1700px 0 }
.glyphicon-eye-open { background-position: -1734px 0 }
.glyphicon-eye-close { background-position: -1768px 0 }
.glyphicon-alarm { background-position: -1802px 0 }
.glyphicon-clock { background-position: -1836px 0 }
.glyphicon-stopwatch { background-position: -1870px 0 }
.glyphicon-projector { background-position: -1904px 0 }
.glyphicon-history { background-position: -1938px 0 }
.glyphicon-truck { background-position: -1972px 0 }
.glyphicon-cargo { background-position: 0 -34px }
.glyphicon-compass { background-position: -34px -34px }
.glyphicon-keynote { background-position: -68px -34px }
.glyphicon-attach { background-position: -102px -34px }
.glyphicon-power { background-position: -136px -34px }
.glyphicon-lightbulb { background-position: -170px -34px }
.glyphicon-tag { background-position: -204px -34px }
.glyphicon-tags { background-position: -238px -34px }
.glyphicon-cleaning { background-position: -272px -34px }
.glyphicon-ruller { background-position: -306px -34px }
.glyphicon-gift { background-position: -340px -34px }
.glyphicon-umbrella { background-position: -374px -34px }
.glyphicon-book { background-position: -408px -34px }
.glyphicon-bookmark { background-position: -442px -34px }
.glyphicon-signal { background-position: -476px -34px }
.glyphicon-cup { background-position: -510px -34px }
.glyphicon-stroller { background-position: -544px -34px }
.glyphicon-headphones { background-position: -578px -34px }
.glyphicon-headset { background-position: -612px -34px }
.glyphicon-warning-sign { background-position: -646px -34px }
.glyphicon-signal { background-position: -680px -34px }
.glyphicon-retweet { background-position: -714px -34px }
.glyphicon-refresh { background-position: -748px -34px }
.glyphicon-roundabout { background-position: -782px -34px }
.glyphicon-random { background-position: -816px -34px }
.glyphicon-heat { background-position: -850px -34px }
.glyphicon-repeat { background-position: -884px -34px }
.glyphicon-display { background-position: -918px -34px }
.glyphicon-log-book { background-position: -952px -34px }
.glyphicon-adress-book { background-position: -986px -34px }
.glyphicon-magnet { background-position: -1020px -34px }
.glyphicon-table { background-position: -1054px -34px }
.glyphicon-adjust { background-position: -1088px -34px }
.glyphicon-tint { background-position: -1122px -34px }
.glyphicon-crop { background-position: -1156px -34px }
.glyphicon-vector-path-square { background-position: -1190px -34px }
.glyphicon-vector-path-circle { background-position: -1224px -34px }
.glyphicon-vector-path-polygon { background-position: -1258px -34px }
.glyphicon-vector-path-line { background-position: -1292px -34px }
.glyphicon-vector-path-curve { background-position: -1326px -34px }
.glyphicon-vector-path-all { background-position: -1360px -34px }
.glyphicon-font { background-position: -1394px -34px }
.glyphicon-italic { background-position: -1428px -34px }
.glyphicon-bold { background-position: -1462px -34px }
.glyphicon-text-underline { background-position: -1496px -34px }
.glyphicon-text-strike { background-position: -1530px -34px }
.glyphicon-text-height { background-position: -1564px -34px }
.glyphicon-text-width { background-position: -1598px -34px }
.glyphicon-text-resize { background-position: -1632px -34px }
.glyphicon-left-indent { background-position: -1666px -34px }
.glyphicon-right-indent { background-position: -1700px -34px }
.glyphicon-align-left { background-position: -1734px -34px }
.glyphicon-align-center { background-position: -1768px -34px }
.glyphicon-align-right { background-position: -1802px -34px }
.glyphicon-justify { background-position: -1836px -34px }
.glyphicon-list { background-position: -1870px -34px }
.glyphicon-text-smaller { background-position: -1904px -34px }
.glyphicon-text-bigger { background-position: -1938px -34px }
.glyphicon-embed { background-position: -1972px -34px }
.glyphicon-embed-close { background-position: 0 -68px }
.glyphicon-adjust { background-position: -34px -68px }
.glyphicon-message-full { background-position: -68px -68px }
.glyphicon-message-empty { background-position: -102px -68px }
.glyphicon-message-in { background-position: -136px -68px }
.glyphicon-message-out { background-position: -170px -68px }
.glyphicon-message-plus { background-position: -204px -68px }
.glyphicon-message-minus { background-position: -238px -68px }
.glyphicon-message-ban { background-position: -272px -68px }
.glyphicon-message-flag { background-position: -306px -68px }
.glyphicon-message-lock { background-position: -340px -68px }
.glyphicon-message-new { background-position: -374px -68px }
.glyphicon-inbox { background-position: -408px -68px }
.glyphicon-inbox-plus { background-position: -442px -68px }
.glyphicon-inbox-minus { background-position: -476px -68px }
.glyphicon-inbox-lock { background-position: -510px -68px }
.glyphicon-inbox-in { background-position: -544px -68px }
.glyphicon-inbox-out { background-position: -578px -68px }
.glyphicon-computer-locked { background-position: -612px -68px }
.glyphicon-computer-service { background-position: -646px -68px }
.glyphicon-computer-proces { background-position: -680px -68px }
.glyphicon-phone { background-position: -714px -68px }
.glyphicon-database-lock { background-position: -748px -68px }
.glyphicon-database-plus { background-position: -782px -68px }
.glyphicon-database-minus { background-position: -816px -68px }
.glyphicon-database-ban { background-position: -850px -68px }
.glyphicon-folder-open { background-position: -884px -68px }
.glyphicon-folder-plus { background-position: -918px -68px }
.glyphicon-folder-minus { background-position: -952px -68px }
.glyphicon-folder-lock { background-position: -986px -68px }
.glyphicon-folder-flag { background-position: -1020px -68px }
.glyphicon-folder-new { background-position: -1054px -68px }
.glyphicon-check { background-position: -1088px -68px }
.glyphicon-edit { background-position: -1122px -68px }
.glyphicon-new-window { background-position: -1156px -68px }
.glyphicon-more-windows { background-position: -1190px -68px }
.glyphicon-show-big-thumbnails { background-position: -1224px -68px }
.glyphicon-show-thumbnails { background-position: -1258px -68px }
.glyphicon-show-thumbnails-with-lines { background-position: -1292px -68px }
.glyphicon-show-lines { background-position: -1326px -68px }
.glyphicon-playlist { background-position: -1360px -68px }
.glyphicon-picture { background-position: -1394px -68px }
.glyphicon-imac { background-position: -1428px -68px }
.glyphicon-macbook { background-position: -1462px -68px }
.glyphicon-ipad { background-position: -1496px -68px }
.glyphicon-iphone { background-position: -1530px -68px }
.glyphicon-iphone-transfer { background-position: -1564px -68px }
.glyphicon-iphone-exchange { background-position: -1598px -68px }
.glyphicon-ipod { background-position: -1632px -68px }
.glyphicon-ipod-shuffle { background-position: -1666px -68px }
.glyphicon-ear-plugs { background-position: -1700px -68px }
.glyphicon-albums { background-position: -1734px -68px }
.glyphicon-step-backward { background-position: -1768px -68px }
.glyphicon-fast-backward { background-position: -1802px -68px }
.glyphicon-rewind { background-position: -1836px -68px }
.glyphicon-play { background-position: -1870px -68px }
.glyphicon-pause { background-position: -1904px -68px }
.glyphicon-stop { background-position: -1938px -68px }
.glyphicon-forward { background-position: -1972px -68px }
.glyphicon-fast-forward { background-position: 0 -102px }
.glyphicon-step-forward { background-position: -34px -102px }
.glyphicon-eject { background-position: -68px -102px }
.glyphicon-facetime-video { background-position: -102px -102px }
.glyphicon-download-alt { background-position: -136px -102px }
.glyphicon-mute { background-position: -170px -102px }
.glyphicon-volume-down { background-position: -204px -102px }
.glyphicon-volume-up { background-position: -238px -102px }
.glyphicon-screenshot { background-position: -272px -102px }
.glyphicon-move { background-position: -306px -102px }
.glyphicon-more { background-position: -340px -102px }
.glyphicon-brightness-reduce { background-position: -374px -102px }
.glyphicon-brightness-increase { background-position: -408px -102px }
.glyphicon-circle-plus { background-position: -442px -102px }
.glyphicon-circle-minus { background-position: -476px -102px }
.glyphicon-circle-remove { background-position: -510px -102px }
.glyphicon-circle-ok { background-position: -544px -102px }
.glyphicon-circle-question-mark { background-position: -578px -102px }
.glyphicon-circle-info { background-position: -612px -102px }
.glyphicon-circle-exclamation-mark { background-position: -646px -102px }
.glyphicon-remove { background-position: -680px -102px }
.glyphicon-ok { background-position: -714px -102px }
.glyphicon-ban { background-position: -748px -102px }
.glyphicon-download { background-position: -782px -102px }
.glyphicon-upload { background-position: -816px -102px }
.glyphicon-shopping-cart { background-position: -850px -102px }
.glyphicon-lock { background-position: -884px -102px }
.glyphicon-unlock { background-position: -918px -102px }
.glyphicon-electricity { background-position: -952px -102px }
.glyphicon-ok-2 { background-position: -986px -102px }
.glyphicon-remove-2 { background-position: -1020px -102px }
.glyphicon-cart-out { background-position: -1054px -102px }
.glyphicon-cart-in { background-position: -1088px -102px }
.glyphicon-left-arrow { background-position: -1122px -102px }
.glyphicon-right-arrow { background-position: -1156px -102px }
.glyphicon-down-arrow { background-position: -1190px -102px }
.glyphicon-up-arrow { background-position: -1224px -102px }
.glyphicon-resize-small { background-position: -1258px -102px }
.glyphicon-resize-full { background-position: -1292px -102px }
.glyphicon-circle-arrow-left { background-position: -1326px -102px }
.glyphicon-circle-arrow-right { background-position: -1360px -102px }
.glyphicon-circle-arrow-top { background-position: -1394px -102px }
.glyphicon-circle-arrow-down { background-position: -1428px -102px }
.glyphicon-play-button { background-position: -1462px -102px }
.glyphicon-unshare { background-position: -1496px -102px }
.glyphicon-share { background-position: -1530px -102px }
.glyphicon-thin-right-arrow { background-position: -1564px -102px }
.glyphicon-thin-arrow-left { background-position: -1598px -102px }
.glyphicon-bluetooth { background-position: -1632px -102px }
.glyphicon-euro { background-position: -1666px -102px }
.glyphicon-usd { background-position: -1700px -102px }
.glyphicon-bp { background-position: -1734px -102px }
.glyphicon-retweet-2 { background-position: -1768px -102px }
.glyphicon-moon { background-position: -1802px -102px }
.glyphicon-sun { background-position: -1836px -102px }
.glyphicon-cloud { background-position: -1870px -102px }
.glyphicon-direction { background-position: -1904px -102px }
.glyphicon-brush { background-position: -1938px -102px }
.glyphicon-pen { background-position: -1972px -102px }
.glyphicon-zoom-in { background-position: 0 -136px }
.glyphicon-zoom-out { background-position: -34px -136px }
.glyphicon-pin { background-position: -68px -136px }
.glyphicon-riflescope { background-position: -102px -136px }
.glyphicon-rotation-lock { background-position: -136px -136px }
.glyphicon-flash { background-position: -170px -136px }
.glyphicon-google-maps { background-position: -204px -136px }
.glyphicon-anchor { background-position: -238px -136px }
.glyphicon-conversation { background-position: -272px -136px }
.glyphicon-chat { background-position: -306px -136px }
.glyphicon-male { background-position: -340px -136px }
.glyphicon-female { background-position: -374px -136px }
.glyphicon-asterisk { background-position: -408px -136px }
.glyphicon-divide { background-position: -442px -136px }
.glyphicon-snorkel-diving { background-position: -476px -136px }
.glyphicon-scuba-diving { background-position: -510px -136px }
.glyphicon-oxygen-bottle { background-position: -544px -136px }
.glyphicon-fins { background-position: -578px -136px }
.glyphicon-fishes { background-position: -612px -136px }
.glyphicon-boat { background-position: -646px -136px }
.glyphicon-delete-point { background-position: -680px -136px }
.glyphicon-sheriffs--star { background-position: -714px -136px }
.glyphicon-qrcode { background-position: -748px -136px }
.glyphicon-barcode { background-position: -782px -136px }
.glyphicon-pool { background-position: -816px -136px }
.glyphicon-buoy { background-position: -850px -136px }
.glyphicon-spade { background-position: -884px -136px }
.glyphicon-bank { background-position: -918px -136px }
.glyphicon-vcard { background-position: -952px -136px }
.glyphicon-electrical-plug { background-position: -986px -136px }
.glyphicon-flag { background-position: -1020px -136px }
.glyphicon-credit-card { background-position: -1054px -136px }
.glyphicon-keyboard-wireless { background-position: -1088px -136px }
.glyphicon-keyboard-wired { background-position: -1122px -136px }
.glyphicon-shield { background-position: -1156px -136px }
.glyphicon-ring { background-position: -1190px -136px }
.glyphicon-cake { background-position: -1224px -136px }
.glyphicon-drink { background-position: -1258px -136px }
.glyphicon-beer { background-position: -1292px -136px }
.glyphicon-fast-food { background-position: -1326px -136px }
.glyphicon-cutlery { background-position: -1360px -136px }
.glyphicon-pizza { background-position: -1394px -136px }
.glyphicon-birthday-cake { background-position: -1428px -136px }
.glyphicon-tablet { background-position: -1462px -136px }
.glyphicon-settings { background-position: -1496px -136px }
.glyphicon-bullets { background-position: -1530px -136px }
.glyphicon-cardio { background-position: -1564px -136px }
.glyphicon-t-shirt { background-position: -1598px -136px }
.glyphicon-pants { background-position: -1632px -136px }
.glyphicon-sweater { background-position: -1666px -136px }
.glyphicon-fabric { background-position: -1700px -136px }
.glyphicon-leather { background-position: -1734px -136px }
.glyphicon-scissors { background-position: -1768px -136px }
.glyphicon-podium { background-position: -1802px -136px }
.glyphicon-skull { background-position: -1836px -136px }
.glyphicon-celebration { background-position: -1870px -136px }
.glyphicon-tea-kettle { background-position: -1904px -136px }
.glyphicon-french-press { background-position: -1938px -136px }
.glyphicon-coffe-cup { background-position: -1972px -136px }
.glyphicon-pot { background-position: 0 -170px }
.glyphicon-grater { background-position: -34px -170px }
.glyphicon-kettle { background-position: -68px -170px }
.glyphicon-hospital { background-position: -102px -170px }
.glyphicon-hospital-h { background-position: -136px -170px }
.glyphicon-microphone { background-position: -170px -170px }
.glyphicon-webcam { background-position: -204px -170px }
.glyphicon-temple-christianity-church { background-position: -238px -170px }
.glyphicon-temple-islam { background-position: -272px -170px }
.glyphicon-temple-hindu { background-position: -306px -170px }
.glyphicon-temple-buddhist { background-position: -340px -170px }
.glyphicon-electrical-socket-eu { background-position: -374px -170px }
.glyphicon-electrical-socket-us { background-position: -408px -170px }
.glyphicon-bomb { background-position: -442px -170px }
.glyphicon-comments { background-position: -476px -170px }
.glyphicon-flower { background-position: -510px -170px }
.glyphicon-baseball { background-position: -544px -170px }
.glyphicon-rugby { background-position: -578px -170px }
.glyphicon-ax { background-position: -612px -170px }
.glyphicon-table-tennis { background-position: -646px -170px }
.glyphicon-bowling { background-position: -680px -170px }
.glyphicon-tree-conifer { background-position: -714px -170px }
.glyphicon-tree-deciduous { background-position: -748px -170px }
.glyphicon-more-items { background-position: -782px -170px }
.glyphicon-sort { background-position: -816px -170px }
.glyphicon-filter { background-position: -850px -170px }
.glyphicon-gamepad { background-position: -884px -170px }
.glyphicon-playing-dices { background-position: -918px -170px }
.glyphicon-calculator { background-position: -952px -170px }
.glyphicon-tie { background-position: -986px -170px }
.glyphicon-wallet { background-position: -1020px -170px }
.glyphicon-share { background-position: -1054px -170px }
.glyphicon-sampler { background-position: -1088px -170px }
.glyphicon-piano { background-position: -1122px -170px }
.glyphicon-web-browser { background-position: -1156px -170px }
.glyphicon-blog { background-position: -1190px -170px }
.glyphicon-dashboard { background-position: -1224px -170px }
.glyphicon-certificate { background-position: -1258px -170px }
.glyphicon-bell { background-position: -1292px -170px }
.glyphicon-candle { background-position: -1326px -170px }
.glyphicon-pin-classic { background-position: -1360px -170px }
.glyphicon-iphone-shake { background-position: -1394px -170px }
.glyphicon-pin-flag { background-position: -1428px -170px }
.glyphicon-turtle { background-position: -1462px -170px }
.glyphicon-rabbit { background-position: -1496px -170px }
.glyphicon-globe { background-position: -1530px -170px }
.glyphicon-briefcase { background-position: -1564px -170px }
.glyphicon-hdd { background-position: -1598px -170px }
.glyphicon-thumbs-up { background-position: -1632px -170px }
.glyphicon-thumbs-down { background-position: -1666px -170px }
.glyphicon-hand-right { background-position: -1700px -170px }
.glyphicon-hand-left { background-position: -1734px -170px }
.glyphicon-hand-up { background-position: -1768px -170px }
.glyphicon-hand-down { background-position: -1802px -170px }
.glyphicon-fullscreen { background-position: -1836px -170px }
.glyphicon-shopping-bag { background-position: -1870px -170px }
.glyphicon-book-open { background-position: -1904px -170px }
.glyphicon-nameplate { background-position: -1938px -170px }
.glyphicon-nameplate-alt { background-position: -1972px -170px }
.glyphicon-vases { background-position: 0 -204px }
.glyphicon-announcement { background-position: -34px -204px }
.glyphicon-dumbbell { background-position: -68px -204px }
.glyphicon-suitcase { background-position: -102px -204px }
.glyphicon-file-import { background-position: -136px -204px }
.glyphicon-file-export { background-position: -170px -204px }
.glyphicon-pinterest { background-position: -204px -204px }
.glyphicon-dropbox { background-position: -238px -204px }
.glyphicon-google-alt { background-position: -272px -204px }
.glyphicon-jolicloud { background-position: -306px -204px }
.glyphicon-yahoo { background-position: -340px -204px }
.glyphicon-blogger { background-position: -374px -204px }
.glyphicon-picasa { background-position: -408px -204px }
.glyphicon-amazon { background-position: -442px -204px }
.glyphicon-tumblr { background-position: -476px -204px }
.glyphicon-wordpress { background-position: -510px -204px }
.glyphicon-instapaper { background-position: -544px -204px }
.glyphicon-evernote { background-position: -578px -204px }
.glyphicon-xing { background-position: -612px -204px }
.glyphicon-zootool { background-position: -646px -204px }
.glyphicon-dribbble { background-position: -680px -204px }
.glyphicon-deviantart { background-position: -714px -204px }
.glyphicon-read-it-later { background-position: -748px -204px }
.glyphicon-linked-in { background-position: -782px -204px }
.glyphicon-forrst { background-position: -816px -204px }
.glyphicon-pinboard { background-position: -850px -204px }
.glyphicon-behance { background-position: -884px -204px }
.glyphicon-github { background-position: -918px -204px }
.glyphicon-youtube { background-position: -952px -204px }
.glyphicon-skitch { background-position: -986px -204px }
.glyphicon-4square { background-position: -1020px -204px }
.glyphicon-quora { background-position: -1054px -204px }
.glyphicon-google-plus { background-position: -1088px -204px }
.glyphicon-spootify { background-position: -1122px -204px }
.glyphicon-stumbleupon { background-position: -1156px -204px }
.glyphicon-readability { background-position: -1190px -204px }
.glyphicon-facebook { background-position: -1224px -204px }
.glyphicon-twitter-t { background-position: -1258px -204px }
.glyphicon-twitter { background-position: -1292px -204px }
.glyphicon-buzz { background-position: -1326px -204px }
.glyphicon-vimeo { background-position: -1360px -204px }
.glyphicon-flickr { background-position: -1394px -204px }
.glyphicon-last-fm { background-position: -1428px -204px }
.glyphicon-rss { background-position: -1462px -204px }
.glyphicon-skype { background-position: -1496px -204px }
.glyphicon-e-mail { background-position: -1530px -204px }

/* Icomoon Icons */
[class^="icomoon-"],
[class*=" icomoon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  @include ie7-restore-right-whitespace();
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/icomoon_sprites.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}
.icomoon-white,
.dropdown-menu > li > a:hover > [class^="icomoon-white"],
.dropdown-menu > li > a:hover > [class*=" icomoon-white"],
.dropdown-menu > .active > a > [class^="icomoon-white"],
.dropdown-menu > .active > a > [class*=" icomoon-white"] {
  background-image: url("../images/icomoon_sprites_white.png");
}
.icomoon-home {
  background-position: 0 0;
}
.icomoon-home-2 {
  background-position: -28px 0;
}
.icomoon-newspaper {
  background-position: -56px 0;
}
.icomoon-pencil {
  background-position: -84px 0;
}
.icomoon-pencil-2 {
  background-position: -112px 0;
}
.icomoon-droplet {
  background-position: -140px 0;
}
.icomoon-pictures {
  background-position: -168px 0;
}
.icomoon-picture {
  background-position: -196px 0;
}
.icomoon-camera {
  background-position: -224px 0;
}
.icomoon-music {
  background-position: -252px 0;
}
.icomoon-play {
  background-position: -280px 0;
}
.icomoon-film {
  background-position: -308px 0;
}
.icomoon-camera-2 {
  background-position: -336px 0;
}
.icomoon-spades {
  background-position: -364px 0;
  width: 17px;
}
.icomoon-clubs {
  background-position: -392px 0;
}
.icomoon-diamonds {
  background-position: -420px 0;
}
.icomoon-broadcast {
  background-position: 0 -28px;
}
.icomoon-mic {
  background-position: -28px -28px;
}
.icomoon-book {
  background-position: -56px -28px;
}
.icomoon-file {
  background-position: -84px -28px;
}
.icomoon-file-2 {
  background-position: -112px -28px;
}
.icomoon-new {
  background-position: -140px -28px;
}
.icomoon-copy {
  background-position: -168px -28px;
}
.icomoon-folder {
  background-position: -196px -28px;
}
.icomoon-folder-2 {
  background-position: -224px -28px;
}
.icomoon-tag {
  background-position: -252px -28px;
}
.icomoon-cart {
  background-position: -280px -28px;
}
.icomoon-basket {
  background-position: -308px -28px;
}
.icomoon-calculate {
  background-position: -336px -28px;
}
.icomoon-support {
  background-position: -364px -28px;
}
.icomoon-phone {
  background-position: -392px -28px;
}
.icomoon-mail {
  background-position: -420px -28px;
}
.icomoon-location {
  background-position: 0 -56px;
}
.icomoon-compass {
  background-position: -28px -56px;
}
.icomoon-history {
  background-position: -56px -56px;
}
.icomoon-clock {
  background-position: -84px -56px;
}
.icomoon-bell {
  background-position: -112px -56px;
}
.icomoon-calendar {
  background-position: -140px -56px;
}
.icomoon-printer {
  background-position: -168px -56px;
}
.icomoon-mouse {
  background-position: -196px -56px;
}
.icomoon-screen {
  background-position: -224px -56px;
}
.icomoon-laptop {
  background-position: -252px -56px;
}
.icomoon-mobile {
  background-position: -280px -56px;
}
.icomoon-cabinet {
  background-position: -308px -56px;
}
.icomoon-drawer {
  background-position: -336px -56px;
}
.icomoon-drawer-2 {
  background-position: -364px -56px;
}
.icomoon-box {
  background-position: -392px -56px;
}
.icomoon-box-add {
  background-position: -420px -56px;
}
.icomoon-box-remove {
  background-position: 0 -84px;
}
.icomoon-download {
  background-position: -28px -84px;
}
.icomoon-upload {
  background-position: -56px -84px;
}
.icomoon-database {
  background-position: -84px -84px;
}
.icomoon-flip {
  background-position: -112px -84px;
}
.icomoon-flip-2 {
  background-position: -140px -84px;
}
.icomoon-undo {
  background-position: -168px -84px;
}
.icomoon-redo {
  background-position: -196px -84px;
}
.icomoon-forward {
  background-position: -224px -84px;
}
.icomoon-reply {
  background-position: -252px -84px;
}
.icomoon-reply-2 {
  background-position: -280px -84px;
  width: 16px;
}
.icomoon-comments {
  background-position: -308px -84px;
}
.icomoon-comments-2 {
  background-position: -336px -84px;
}
.icomoon-comments-3 {
  background-position: -364px -84px;
}
.icomoon-comments-4 {
  background-position: -392px -84px;
}
.icomoon-comments-5 {
  background-position: -420px -84px;
}
.icomoon-user {
  background-position: 0 -112px;
}
.icomoon-user-2 {
  background-position: -28px -112px;
}
.icomoon-user-3 {
  background-position: -56px -112px;
}
.icomoon-busy {
  background-position: -84px -112px;
}
.icomoon-loading {
  background-position: -112px -112px;
}
.icomoon-loading-2 {
  background-position: -140px -112px;
}
.icomoon-search {
  background-position: -168px -112px;
}
.icomoon-zoomin {
  background-position: -196px -112px;
}
.icomoon-zoomout {
  background-position: -224px -112px;
}
.icomoon-key {
  background-position: -252px -112px;
}
.icomoon-key-2 {
  background-position: -280px -112px;
}
.icomoon-locked {
  background-position: -308px -112px;
}
.icomoon-unlocked {
  background-position: -336px -112px;
}
.icomoon-wrench {
  background-position: -364px -112px;
}
.icomoon-equalizer {
  background-position: -392px -112px;
}
.icomoon-cog {
  background-position: -420px -112px;
}
.icomoon-pie {
  background-position: 0 -140px;
}
.icomoon-bars {
  background-position: -28px -140px;
}
.icomoon-stats-up {
  background-position: -56px -140px;
}
.icomoon-gift {
  background-position: -84px -140px;
}
.icomoon-trophy {
  background-position: -112px -140px;
}
.icomoon-diamond {
  background-position: -140px -140px;
}
.icomoon-coffee {
  background-position: -168px -140px;
}
.icomoon-rocket {
  background-position: -196px -140px;
}
.icomoon-meter-slow {
  background-position: -224px -140px;
}
.icomoon-meter-medium {
  background-position: -252px -140px;
}
.icomoon-meter-fast {
  background-position: -280px -140px;
}
.icomoon-dashboard {
  background-position: -308px -140px;
}
.icomoon-fire {
  background-position: -336px -140px;
  width: 16px;
}
.icomoon-lab {
  background-position: -364px -140px;
}
.icomoon-remove {
  background-position: -392px -140px;
}
.icomoon-remove-2 {
  background-position: -420px -140px;
}
.icomoon-remove-3 {
  background-position: 0 -168px;
}
.icomoon-briefcase {
  background-position: -28px -168px;
}
.icomoon-briefcase-2 {
  background-position: -56px -168px;
}
.icomoon-cars {
  background-position: -84px -168px;
}
.icomoon-bus {
  background-position: -112px -168px;
}
.icomoon-cube {
  background-position: -140px -168px;
}
.icomoon-cube-2 {
  background-position: -168px -168px;
}
.icomoon-puzzle {
  background-position: -196px -168px;
}
.icomoon-glasses {
  background-position: -224px -168px;
}
.icomoon-glasses-2 {
  background-position: -252px -168px;
}
.icomoon-accessibility {
  background-position: -280px -168px;
}
.icomoon-accessibility-2 {
  background-position: -308px -168px;
}
.icomoon-target {
  background-position: -336px -168px;
}
.icomoon-target-2 {
  background-position: -364px -168px;
}
.icomoon-lightning {
  background-position: -392px -168px;
}
.icomoon-power {
  background-position: -420px -168px;
}
.icomoon-power-2 {
  background-position: 0 -196px;
}
.icomoon-clipboard {
  background-position: -28px -196px;
}
.icomoon-clipboard-2 {
  background-position: -56px -196px;
}
.icomoon-playlist {
  background-position: -84px -196px;
}
.icomoon-gridview {
  background-position: -112px -196px;
}
.icomoon-treeview {
  background-position: -140px -196px;
}
.icomoon-cloud {
  background-position: -168px -196px;
}
.icomoon-cloud-2 {
  background-position: -196px -196px;
}
.icomoon-download-2 {
  background-position: -224px -196px;
}
.icomoon-upload-2 {
  background-position: -252px -196px;
}
.icomoon-upload-3 {
  background-position: -280px -196px;
}
.icomoon-link {
  background-position: -308px -196px;
}
.icomoon-link-2 {
  background-position: -336px -196px;
}
.icomoon-flag {
  background-position: -364px -196px;
}
.icomoon-flag-2 {
  background-position: -392px -196px;
}
.icomoon-attachment {
  background-position: -420px -196px;
  height: 13px;
}
.icomoon-eye {
  background-position: 0 -224px;
}
.icomoon-eye-2 {
  background-position: -28px -224px;
}
.icomoon-bookmark {
  background-position: -56px -224px;
}
.icomoon-bookmark-2 {
  background-position: -84px -224px;
}
.icomoon-star {
  background-position: -112px -224px;
}
.icomoon-star-2 {
  background-position: -140px -224px;
}
.icomoon-star-3 {
  background-position: -168px -224px;
}
.icomoon-heart {
  background-position: -196px -224px;
  width: 15px;
}
.icomoon-heart-2 {
  background-position: -224px -224px;
  width: 15px;
}
.icomoon-thumbsup {
  background-position: -252px -224px;
}
.icomoon-thumbsdown {
  background-position: -280px -224px;
}
.icomoon-happy {
  background-position: -308px -224px;
}
.icomoon-smiley {
  background-position: -336px -224px;
}
.icomoon-neutral {
  background-position: -364px -224px;
}
.icomoon-plus {
  background-position: -392px -224px;
}
.icomoon-minus {
  background-position: -420px -224px;
}
.icomoon-help {
  background-position: 0 -252px;
}
.icomoon-help-2 {
  background-position: -28px -252px;
}
.icomoon-blocked {
  background-position: -56px -252px;
}
.icomoon-cancel {
  background-position: -84px -252px;
}
.icomoon-cancel-2 {
  background-position: -112px -252px;
}
.icomoon-checkmark {
  background-position: -140px -252px;
}
.icomoon-minus-2 {
  background-position: -168px -252px;
}
.icomoon-plus-2 {
  background-position: -196px -252px;
}
.icomoon-enter {
  background-position: -224px -252px;
}
.icomoon-exit {
  background-position: -252px -252px;
}
.icomoon-loop {
  background-position: -280px -252px;
}
.icomoon-arrow-up-left {
  background-position: -308px -252px;
}
.icomoon-arrow-up {
  background-position: -336px -252px;
}
.icomoon-arrow-up-right {
  background-position: -364px -252px;
}
.icomoon-arrow-right {
  background-position: -392px -252px;
}
.icomoon-arrow-down-right {
  background-position: -420px -252px;
}
.icomoon-arrow-down {
  background-position: 0 -280px;
}
.icomoon-arrow-down-left {
  background-position: -28px -280px;
}
.icomoon-arrow-left {
  background-position: -56px -280px;
}
.icomoon-arrow-up-left-2 {
  background-position: -84px -280px;
}
.icomoon-arrow-up-2 {
  background-position: -112px -280px;
}
.icomoon-arrow-up-right-2 {
  background-position: -140px -280px;
}
.icomoon-arrow-right-2 {
  background-position: -168px -280px;
}
.icomoon-arrow-down-right-2 {
  background-position: -196px -280px;
}
.icomoon-arrow-down-2 {
  background-position: -224px -280px;
}
.icomoon-arrow-down-left-2 {
  background-position: -252px -280px;
}
.icomoon-arrow-left-2 {
  background-position: -280px -280px;
}
.icomoon-arrow-up-left-3 {
  background-position: -308px -280px;
}
.icomoon-arrow-up-3 {
  background-position: -336px -280px;
}
.icomoon-arrow-up-right-3 {
  background-position: -364px -280px;
}
.icomoon-arrow-right-3 {
  background-position: -392px -280px;
}
.icomoon-arrow-down-right-3 {
  background-position: -420px -280px;
}
.icomoon-arrow-down-3 {
  background-position: 0 -308px;
}
.icomoon-arrow-down-left-3 {
  background-position: -28px -308px;
}
.icomoon-arrow-left-3 {
  background-position: -56px -308px;
}
.icomoon-arrow-up-4 {
  background-position: -84px -308px;
}
.icomoon-arrow-right-4 {
  background-position: -112px -308px;
}
.icomoon-arrow-down-4 {
  background-position: -140px -308px;
}
.icomoon-arrow-left-4 {
  background-position: -168px -308px;
}
.icomoon-arrow-up-5 {
  background-position: -196px -308px;
}
.icomoon-arrow-right-5 {
  background-position: -224px -308px;
}
.icomoon-arrow-down-5 {
  background-position: -252px -308px;
}
.icomoon-arrow-left-5 {
  background-position: -280px -308px;
}
.icomoon-arrow-up-6 {
  background-position: -308px -308px;
}
.icomoon-arrow-right-6 {
  background-position: -336px -308px;
}
.icomoon-arrow-down-6 {
  background-position: -364px -308px;
}
.icomoon-arrow-left-6 {
  background-position: -392px -308px;
}
.icomoon-menu {
  background-position: -420px -308px;
}
.icomoon-enter-2 {
  background-position: 0 -336px;
}
.icomoon-backspace {
  background-position: -28px -336px;
}
.icomoon-backspace-2 {
  background-position: -56px -336px;
}
.icomoon-tab {
  background-position: -84px -336px;
}
.icomoon-tab-2 {
  background-position: -112px -336px;
}
.icomoon-checkbox {
  background-position: -140px -336px;
}
.icomoon-checkbox-unchecked {
  background-position: -168px -336px;
}
.icomoon-checkbox-partial {
  background-position: -196px -336px;
}
.icomoon-radio-checked {
  background-position: -224px -336px;
}
.icomoon-radio-unchecked {
  background-position: -252px -336px;
}
.icomoon-font {
  background-position: -280px -336px;
}
.icomoon-paragraph-left {
  background-position: -308px -336px;
}
.icomoon-paragraph-center {
  background-position: -336px -336px;
}
.icomoon-paragraph-right {
  background-position: -364px -336px;
}
.icomoon-paragraph-justify {
  background-position: -392px -336px;
}
.icomoon-lefttoright {
  background-position: -420px -336px;
}
.icomoon-righttoleft {
  background-position: 0 -364px;
}
.icomoon-share {
  background-position: -28px -364px;
}
.icomoon-newtab {
  background-position: -56px -364px;
}
.icomoon-newtab-2 {
  background-position: -84px -364px;
}
.icomoon-embed {
  background-position: -112px -364px;
}
.icomoon-code {
  background-position: -140px -364px;
}
.icomoon-bluetooth {
  background-position: -168px -364px;
}
.icomoon-share-2 {
  background-position: -196px -364px;
}
.icomoon-share-3 {
  background-position: -224px -364px;
}
.icomoon-mail-2 {
  background-position: -252px -364px;
}
.icomoon-mail-3 {
  background-position: -280px -364px;
}
.icomoon-mail-4 {
  background-position: -308px -364px;
}
.icomoon-google {
  background-position: -336px -364px;
}
.icomoon-googleplus {
  background-position: -364px -364px;
}
.icomoon-googleplus-2 {
  background-position: -392px -364px;
}
.icomoon-googleplus-3 {
  background-position: -420px -364px;
}
.icomoon-gplus {
  background-position: 0 -392px;
}
.icomoon-google-drive {
  background-position: -28px -392px;
}
.icomoon-facebook {
  background-position: -56px -392px;
}
.icomoon-facebook-2 {
  background-position: -84px -392px;
}
.icomoon-facebook-3 {
  background-position: -112px -392px;
}
.icomoon-instagram {
  background-position: -140px -392px;
}
.icomoon-twitter {
  background-position: -168px -392px;
}
.icomoon-twitter-2 {
  background-position: -196px -392px;
}
.icomoon-twitter-3 {
  background-position: -224px -392px;
}
.icomoon-feed {
  background-position: -252px -392px;
}
.icomoon-feed-2 {
  background-position: -280px -392px;
}
.icomoon-feed-3 {
  background-position: -308px -392px;
}
.icomoon-youtube {
  background-position: -336px -392px;
}
.icomoon-youtube-2 {
  background-position: -364px -392px;
}
.icomoon-vimeo {
  background-position: -392px -392px;
  width: 15px;
}
.icomoon-vimeo-2 {
  background-position: -420px -392px;
}
.icomoon-flickr {
  background-position: 0 -420px;
}
.icomoon-flickr-2 {
  background-position: -28px -420px;
}
.icomoon-flickr-3 {
  background-position: -56px -420px;
}
.icomoon-picassa {
  background-position: -84px -420px;
}
.icomoon-picassa-2 {
  background-position: -112px -420px;
}
.icomoon-dribbble {
  background-position: -140px -420px;
}
.icomoon-dribbble-2 {
  background-position: -168px -420px;
}
.icomoon-dribbble-3 {
  background-position: -196px -420px;
}
.icomoon-forrst {
  background-position: -224px -420px;
}
.icomoon-forrst-2 {
  background-position: -252px -420px;
}
.icomoon-deviantart {
  background-position: -280px -420px;
}
.icomoon-deviantart-2 {
  background-position: -308px -420px;
}
.icomoon-github {
  background-position: -336px -420px;
}
.icomoon-github-2 {
  background-position: -364px -420px;
}
.icomoon-github-3 {
  background-position: -392px -420px;
}
.icomoon-github-4 {
  background-position: -420px -420px;
}
.icomoon-github-5 {
  background-position: 0 -448px;
}
.icomoon-github-6 {
  background-position: -28px -448px;
}
.icomoon-git {
  background-position: -56px -448px;
}
.icomoon-github-7 {
  background-position: -84px -448px;
}
.icomoon-wordpress {
  background-position: -112px -448px;
}
.icomoon-wordpress-2 {
  background-position: -140px -448px;
}
.icomoon-joomla {
  background-position: -168px -448px;
}
.icomoon-blogger {
  background-position: -196px -448px;
}
.icomoon-blogger-2 {
  background-position: -224px -448px;
}
.icomoon-tumblr {
  background-position: -252px -448px;
}
.icomoon-tumblr-2 {
  background-position: -280px -448px;
}
.icomoon-yahoo {
  background-position: -308px -448px;
}
.icomoon-yahoo-2 {
  background-position: -336px -448px;
}
.icomoon-amazon {
  background-position: -364px -448px;
}
.icomoon-amazon-2 {
  background-position: -392px -448px;
}
.icomoon-tux {
  background-position: -420px -448px;
  width: 15px;
}
.icomoon-apple {
  background-position: 0 -476px;
}
.icomoon-finder {
  background-position: -28px -476px;
}
.icomoon-android {
  background-position: -56px -476px;
}
.icomoon-windows {
  background-position: -84px -476px;
}
.icomoon-soundcloud {
  background-position: -112px -476px;
}
.icomoon-soundcloud-2 {
  background-position: -140px -476px;
}
.icomoon-skype {
  background-position: -168px -476px;
}
.icomoon-reddit {
  background-position: -196px -476px;
}
.icomoon-linkedin {
  background-position: -224px -476px;
}
.icomoon-linkedin-2 {
  background-position: -252px -476px;
}
.icomoon-lastfm {
  background-position: -280px -476px;
}
.icomoon-lastfm-2 {
  background-position: -308px -476px;
}
.icomoon-delicious {
  background-position: -336px -476px;
}
.icomoon-stumbleupon {
  background-position: -364px -476px;
}
.icomoon-stumbleupon-2 {
  background-position: -392px -476px;
}
.icomoon-pinterest {
  background-position: -420px -476px;
}
.icomoon-pinterest-2 {
  background-position: 0 -504px;
}
.icomoon-xing {
  background-position: -28px -504px;
}
.icomoon-xing-2 {
  background-position: -56px -504px;
}
.icomoon-flattr {
  background-position: -84px -504px;
}
.icomoon-foursquare {
  background-position: -112px -504px;
}
.icomoon-foursquare-2 {
  background-position: -140px -504px;
}
.icomoon-paypal {
  background-position: -168px -504px;
}
.icomoon-paypal-2 {
  background-position: -196px -504px;
}
.icomoon-paypal-3 {
  background-position: -224px -504px;
}
.icomoon-yelp {
  background-position: -252px -504px;
}
.icomoon-libreoffice {
  background-position: -280px -504px;
}
.icomoon-file-pdf {
  background-position: -308px -504px;
}
.icomoon-file-openoffice {
  background-position: -336px -504px;
}
.icomoon-file-word {
  background-position: -364px -504px;
}
.icomoon-file-excel {
  background-position: -392px -504px;
}
.icomoon-file-powerpoint {
  background-position: -420px -504px;
}
.icomoon-file-zip {
  background-position: 0 -532px;
}
.icomoon-file-xml {
  background-position: -28px -532px;
}
.icomoon-file-css {
  background-position: -56px -532px;
}
.icomoon-html5 {
  background-position: -84px -532px;
}
.icomoon-html5-2 {
  background-position: -112px -532px;
}
.icomoon-css3 {
  background-position: -140px -532px;
}
.icomoon-chrome {
  background-position: -168px -532px;
}
.icomoon-firefox {
  background-position: -196px -532px;
  width: 15px;
}
.icomoon-IE {
  background-position: -224px -532px;
}
.icomoon-opera {
  background-position: -252px -532px;
}
.icomoon-safari {
  background-position: -280px -532px;
}
.icomoon-IcoMoon {
  background-position: -308px -532px;
}
.icomoon-warning {
  background-position: -336px -532px;
}
.icomoon-cloud-3 {
  background-position: -364px -532px;
}
.icomoon-locked-2 {
  background-position: -392px -532px;
}
.icomoon-inbox {
  background-position: -420px -532px;
}
.icomoon-comment {
  background-position: 0 -560px;
}
.icomoon-mic-2 {
  background-position: -28px -560px;
}
.icomoon-envelope {
  background-position: -56px -560px;
}
.icomoon-briefcase-3 {
  background-position: -84px -560px;
}
.icomoon-cart-2 {
  background-position: -112px -560px;
}
.icomoon-contrast {
  background-position: -140px -560px;
  width: 15px;
  height: 15px;
}
.icomoon-clock-2 {
  background-position: -168px -560px;
}
.icomoon-user-4 {
  background-position: -196px -560px;
}
.icomoon-cog-2 {
  background-position: -224px -560px;
}
.icomoon-music-2 {
  background-position: -252px -560px;
}
.icomoon-twitter-4 {
  background-position: -280px -560px;
}
.icomoon-pencil-3 {
  background-position: -308px -560px;
  width: 15px;
}
.icomoon-frame {
  background-position: -336px -560px;
}
.icomoon-switch {
  background-position: -364px -560px;
}
.icomoon-star-4 {
  background-position: -392px -560px;
  width: 15px;
  height: 15px;
}
.icomoon-key-3 {
  background-position: -420px -560px;
}
.icomoon-chart {
  background-position: 0 -588px;
}
.icomoon-apple-2 {
  background-position: -28px -588px;
}
.icomoon-file-3 {
  background-position: -56px -588px;
}
.icomoon-plus-3 {
  background-position: -84px -588px;
}
.icomoon-minus-3 {
  background-position: -112px -588px;
}
.icomoon-picture-2 {
  background-position: -140px -588px;
}
.icomoon-folder-3 {
  background-position: -168px -588px;
}
.icomoon-camera-3 {
  background-position: -196px -588px;
}
.icomoon-search-2 {
  background-position: -224px -588px;
}
.icomoon-dribbble-4 {
  background-position: -252px -588px;
}
.icomoon-forrst-3 {
  background-position: -280px -588px;
}
.icomoon-feed-4 {
  background-position: -308px -588px;
}
.icomoon-blocked-2 {
  background-position: -336px -588px;
  width: 15px;
  height: 15px;
}
.icomoon-target-3 {
  background-position: -364px -588px;
}
.icomoon-play-2 {
  background-position: -392px -588px;
}
.icomoon-pause {
  background-position: -420px -588px;
}
.icomoon-bug {
  background-position: 0 -616px;
}
.icomoon-console {
  background-position: -28px -616px;
}
.icomoon-film-2 {
  background-position: -56px -616px;
}
.icomoon-type {
  background-position: -84px -616px;
}
.icomoon-home-3 {
  background-position: -112px -616px;
}
.icomoon-earth {
  background-position: -140px -616px;
}
.icomoon-location-2 {
  background-position: -168px -616px;
}
.icomoon-info {
  background-position: -196px -616px;
}
.icomoon-eye-3 {
  background-position: -224px -616px;
}
.icomoon-heart-3 {
  background-position: -252px -616px;
}
.icomoon-bookmark-3 {
  background-position: -280px -616px;
}
.icomoon-wrench-2 {
  background-position: -308px -616px;
}
.icomoon-calendar-2 {
  background-position: -336px -616px;
}
.icomoon-window {
  background-position: -364px -616px;
}
.icomoon-monitor {
  background-position: -392px -616px;
}
.icomoon-mobile-2 {
  background-position: -420px -616px;
}
.icomoon-droplet-2 {
  background-position: 0 -644px;
}
.icomoon-mouse-2 {
  background-position: -28px -644px;
}
.icomoon-refresh {
  background-position: -56px -644px;
}
.icomoon-location-3 {
  background-position: -84px -644px;
}
.icomoon-tag-2 {
  background-position: -112px -644px;
}
.icomoon-phone-2 {
  background-position: -140px -644px;
  width: 15px;
  height: 15px;
}
.icomoon-star-5 {
  background-position: -168px -644px;
  width: 16px;
  height: 16px;
}
.icomoon-pointer {
  background-position: -196px -644px;
}
.icomoon-thumbsup-2 {
  background-position: -224px -644px;
}
.icomoon-thumbsdown-2 {
  background-position: -252px -644px;
}
.icomoon-headphones {
  background-position: -280px -644px;
}
.icomoon-move {
  background-position: -308px -644px;
}
.icomoon-checkmark-2 {
  background-position: -336px -644px;
}
.icomoon-cancel-3 {
  background-position: -364px -644px;
}
.icomoon-skype-2 {
  background-position: -392px -644px;
}
.icomoon-gift-2 {
  background-position: -420px -644px;
}
.icomoon-cone {
  background-position: 0 -672px;
}
.icomoon-alarm {
  background-position: -28px -672px;
}
.icomoon-coffee-2 {
  background-position: -56px -672px;
}
.icomoon-basket-2 {
  background-position: -84px -672px;
}
.icomoon-flag-3 {
  background-position: -112px -672px;
}
.icomoon-ipod {
  background-position: -140px -672px;
}
.icomoon-trashcan {
  background-position: -168px -672px;
}
.icomoon-bolt {
  background-position: -196px -672px;
}
.icomoon-ampersand {
  background-position: -224px -672px;
}
.icomoon-compass-2 {
  background-position: -252px -672px;
}
.icomoon-list {
  background-position: -280px -672px;
}
.icomoon-grid {
  background-position: -308px -672px;
}
.icomoon-volume {
  background-position: -336px -672px;
}
.icomoon-volume-2 {
  background-position: -364px -672px;
}
.icomoon-stats {
  background-position: -392px -672px;
}
.icomoon-target-4 {
  background-position: -420px -672px;
}
.icomoon-forward-2 {
  background-position: 0 -700px;
}
.icomoon-paperclip {
  background-position: -28px -700px;
  height: 14px;
}
.icomoon-keyboard {
  background-position: -56px -700px;
}
.icomoon-crop {
  background-position: -84px -700px;
}
.icomoon-floppy {
  background-position: -112px -700px;
}
.icomoon-filter {
  background-position: -140px -700px;
}
.icomoon-trophy-2 {
  background-position: -168px -700px;
}
.icomoon-diary {
  background-position: -196px -700px;
}
.icomoon-addressbook {
  background-position: -224px -700px;
}
.icomoon-stop {
  background-position: -252px -700px;
}
.icomoon-smiley-2 {
  background-position: -280px -700px;
}
.icomoon-shit {
  background-position: -308px -700px;
}
.icomoon-bookmark-4 {
  background-position: -336px -700px;
}
.icomoon-camera-4 {
  background-position: -364px -700px;
}
.icomoon-lamp {
  background-position: -392px -700px;
}
.icomoon-disk {
  background-position: -420px -700px;
  width: 15px;
  height: 15px;
}
.icomoon-button {
  background-position: 0 -728px;
}
.icomoon-database-2 {
  background-position: -28px -728px;
}
.icomoon-creditcard {
  background-position: -56px -728px;
}
.icomoon-atom {
  background-position: -84px -728px;
}
.icomoon-winsows {
  background-position: -112px -728px;
}
.icomoon-target-5 {
  background-position: -140px -728px;
}
.icomoon-battery {
  background-position: -168px -728px;
}
.icomoon-code-2 {
  background-position: -196px -728px;
}
.icomoon-sunrise {
  background-position: -224px -728px;
}
.icomoon-sun {
  background-position: -252px -728px;
}
.icomoon-moon {
  background-position: -280px -728px;
}
.icomoon-sun-2 {
  background-position: -308px -728px;
}
.icomoon-windy {
  background-position: -336px -728px;
}
.icomoon-wind {
  background-position: -364px -728px;
}
.icomoon-snowflake {
  background-position: -392px -728px;
}
.icomoon-cloudy {
  background-position: -420px -728px;
}
.icomoon-cloud-4 {
  background-position: 0 -756px;
}
.icomoon-weather {
  background-position: -28px -756px;
}
.icomoon-weather-2 {
  background-position: -56px -756px;
}
.icomoon-weather-3 {
  background-position: -84px -756px;
}
.icomoon-lines {
  background-position: -112px -756px;
}
.icomoon-cloud-5 {
  background-position: -140px -756px;
}
.icomoon-lightning-2 {
  background-position: -168px -756px;
}
.icomoon-lightning-3 {
  background-position: -196px -756px;
}
.icomoon-rainy {
  background-position: -224px -756px;
}
.icomoon-rainy-2 {
  background-position: -252px -756px;
}
.icomoon-windy-2 {
  background-position: -280px -756px;
}
.icomoon-windy-3 {
  background-position: -308px -756px;
}
.icomoon-snowy {
  background-position: -336px -756px;
}
.icomoon-snowy-2 {
  background-position: -364px -756px;
}
.icomoon-snowy-3 {
  background-position: -392px -756px;
}
.icomoon-weather-4 {
  background-position: -420px -756px;
}
.icomoon-cloudy-2 {
  background-position: 0 -784px;
}
.icomoon-cloud-6 {
  background-position: -28px -784px;
}
.icomoon-lightning-4 {
  background-position: -56px -784px;
}
.icomoon-sun-3 {
  background-position: -84px -784px;
}
.icomoon-moon-2 {
  background-position: -112px -784px;
}
.icomoon-cloudy-3 {
  background-position: -140px -784px;
}
.icomoon-cloud-7 {
  background-position: -168px -784px;
}
.icomoon-cloud-8 {
  background-position: -196px -784px;
}
.icomoon-lightning-5 {
  background-position: -224px -784px;
}
.icomoon-rainy-3 {
  background-position: -252px -784px;
}
.icomoon-rainy-4 {
  background-position: -280px -784px;
}
.icomoon-windy-4 {
  background-position: -308px -784px;
}
.icomoon-windy-5 {
  background-position: -336px -784px;
}
.icomoon-snowy-4 {
  background-position: -364px -784px;
}
.icomoon-snowy-5 {
  background-position: -392px -784px;
}
.icomoon-weather-5 {
  background-position: -420px -784px;
}
.icomoon-cloudy-4 {
  background-position: 0 -812px;
}
.icomoon-lightning-6 {
  background-position: -28px -812px;
}
.icomoon-thermometer {
  background-position: -56px -812px;
}
.icomoon-compass-3 {
  background-position: -84px -812px;
}
.icomoon-none {
  background-position: -112px -812px;
}
.icomoon-Celsius {
  background-position: -140px -812px;
}
.icomoon-Fahrenheit {
  background-position: -168px -812px;
}
.icomoon-chat {
  background-position: -196px -812px;
}
.icomoon-chat-alt-stroke {
  background-position: -224px -812px;
}
.icomoon-chat-alt-fill {
  background-position: -252px -812px;
}
.icomoon-comment-alt1-stroke {
  background-position: -280px -812px;
  width: 17px;
}
.icomoon-comment-alt1-fill {
  background-position: -308px -812px;
  width: 17px;
}
.icomoon-comment-stroke {
  background-position: -336px -812px;
}
.icomoon-comment-fill {
  background-position: -364px -812px;
}
.icomoon-comment-alt2-stroke {
  background-position: -392px -812px;
}
.icomoon-comment-alt2-fill {
  background-position: -420px -812px;
}
.icomoon-checkmark-3 {
  background-position: 0 -840px;
}
.icomoon-check-alt {
  background-position: -28px -840px;
}
.icomoon-x {
  background-position: -56px -840px;
}
.icomoon-x-altx-alt {
  background-position: -84px -840px;
}
.icomoon-denied {
  background-position: -112px -840px;
}
.icomoon-cursor {
  background-position: -140px -840px;
}
.icomoon-rss {
  background-position: -168px -840px;
}
.icomoon-rss-alt {
  background-position: -196px -840px;
}
.icomoon-wrench-3 {
  background-position: -224px -840px;
}
.icomoon-dial {
  background-position: -252px -840px;
}
.icomoon-cog-3 {
  background-position: -280px -840px;
}
.icomoon-calendar-3 {
  background-position: -308px -840px;
}
.icomoon-calendar-alt-stroke {
  background-position: -336px -840px;
}
.icomoon-calendar-alt-fill {
  background-position: -364px -840px;
}
.icomoon-share-4 {
  background-position: -392px -840px;
}
.icomoon-mail-5 {
  background-position: -420px -840px;
}
.icomoon-heart-stroke {
  background-position: 0 -868px;
}
.icomoon-heart-fill {
  background-position: -28px -868px;
}
.icomoon-movie {
  background-position: -56px -868px;
}
.icomoon-document-alt-stroke {
  background-position: -84px -868px;
}
.icomoon-document-alt-fill {
  background-position: -112px -868px;
}
.icomoon-document-stroke {
  background-position: -140px -868px;
}
.icomoon-document-fill {
  background-position: -168px -868px;
}
.icomoon-plus-4 {
  background-position: -196px -868px;
}
.icomoon-plus-alt {
  background-position: -224px -868px;
}
.icomoon-minus-4 {
  background-position: -252px -868px;
}
.icomoon-minus-alt {
  background-position: -280px -868px;
}
.icomoon-pin {
  background-position: -308px -868px;
}
.icomoon-link-3 {
  background-position: -336px -868px;
}
.icomoon-bolt-2 {
  background-position: -364px -868px;
}
.icomoon-move-2 {
  background-position: -392px -868px;
}
.icomoon-move-alt1 {
  background-position: -420px -868px;
}
.icomoon-move-alt2 {
  background-position: 0 -896px;
}
.icomoon-equalizer-2 {
  background-position: -28px -896px;
}
.icomoon-award-fill {
  background-position: -56px -896px;
}
.icomoon-award-stroke {
  background-position: -84px -896px;
}
.icomoon-magnifying-glass {
  background-position: -112px -896px;
}
.icomoon-trash-stroke {
  background-position: -140px -896px;
}
.icomoon-trash-fill {
  background-position: -168px -896px;
}
.icomoon-beaker-alt {
  background-position: -196px -896px;
}
.icomoon-beaker {
  background-position: -224px -896px;
}
.icomoon-key-stroke {
  background-position: -252px -896px;
}
.icomoon-key-fill {
  background-position: -280px -896px;
}
.icomoon-new-window {
  background-position: -308px -896px;
}
.icomoon-lightbulb {
  background-position: -336px -896px;
}
.icomoon-spin-alt {
  background-position: -364px -896px;
}
.icomoon-spin {
  background-position: -392px -896px;
}
.icomoon-curved-arrow {
  background-position: -420px -896px;
}
.icomoon-undo-2 {
  background-position: 0 -924px;
  height: 14px;
}
.icomoon-reload {
  background-position: -28px -924px;
}
.icomoon-reload-alt {
  background-position: -56px -924px;
}
.icomoon-loop-2 {
  background-position: -84px -924px;
}
.icomoon-loop-alt1 {
  background-position: -112px -924px;
}
.icomoon-loop-alt2 {
  background-position: -140px -924px;
}
.icomoon-loop-alt3 {
  background-position: -168px -924px;
}
.icomoon-loop-alt4 {
  background-position: -196px -924px;
}
.icomoon-transfer {
  background-position: -224px -924px;
}
.icomoon-move-vertical {
  background-position: -252px -924px;
}
.icomoon-move-vertical-alt1 {
  background-position: -280px -924px;
}
.icomoon-move-vertical-alt2 {
  background-position: -308px -924px;
}
.icomoon-move-horizontal {
  background-position: -336px -924px;
}
.icomoon-move-horizontal-alt1 {
  background-position: -364px -924px;
}
.icomoon-move-horizontal-alt2 {
  background-position: -392px -924px;
}
.icomoon-arrow-left-7 {
  background-position: -420px -924px;
}
.icomoon-arrow-left-alt1 {
  background-position: 0 -952px;
}
.icomoon-arrow-left-alt2 {
  background-position: -28px -952px;
}
.icomoon-arrow-right-7 {
  background-position: -56px -952px;
}
.icomoon-arrow-right-alt1 {
  background-position: -84px -952px;
}
.icomoon-arrow-right-alt2 {
  background-position: -112px -952px;
}
.icomoon-arrow-up-7 {
  background-position: -140px -952px;
}
.icomoon-arrow-up-alt1 {
  background-position: -168px -952px;
}
.icomoon-arrow-up-alt2 {
  background-position: -196px -952px;
}
.icomoon-arrow-down-7 {
  background-position: -224px -952px;
}
.icomoon-arrow-down-alt1 {
  background-position: -252px -952px;
}
.icomoon-arrow-down-alt2 {
  background-position: -280px -952px;
}
.icomoon-cd {
  background-position: -308px -952px;
}
.icomoon-steering-wheel {
  background-position: -336px -952px;
}
.icomoon-microphone {
  background-position: -364px -952px;
}
.icomoon-headphones-2 {
  background-position: -392px -952px;
}
.icomoon-volume-3 {
  background-position: -420px -952px;
}
.icomoon-volume-mute {
  background-position: 0 -980px;
}
.icomoon-play-3 {
  background-position: -28px -980px;
}
.icomoon-pause-2 {
  background-position: -56px -980px;
}
.icomoon-stop-2 {
  background-position: -84px -980px;
}
.icomoon-eject {
  background-position: -112px -980px;
}
.icomoon-first {
  background-position: -140px -980px;
}
.icomoon-last {
  background-position: -168px -980px;
}
.icomoon-play-alt {
  background-position: -196px -980px;
}
.icomoon-fullscreen-exit {
  background-position: -224px -980px;
}
.icomoon-fullscreen-exit-alt {
  background-position: -252px -980px;
}
.icomoon-fullscreen {
  background-position: -280px -980px;
}
.icomoon-fullscreen-alt {
  background-position: -308px -980px;
}
.icomoon-iphone {
  background-position: -336px -980px;
}
.icomoon-battery-empty {
  background-position: -364px -980px;
}
.icomoon-battery-half {
  background-position: -392px -980px;
}
.icomoon-battery-full {
  background-position: -420px -980px;
}
.icomoon-battery-charging {
  background-position: 0 -1008px;
}
.icomoon-compass-4 {
  background-position: -28px -1008px;
}
.icomoon-box-2 {
  background-position: -56px -1008px;
}
.icomoon-folder-stroke {
  background-position: -84px -1008px;
}
.icomoon-folder-fill {
  background-position: -112px -1008px;
}
.icomoon-at {
  background-position: -140px -1008px;
}
.icomoon-ampersand-2 {
  background-position: -168px -1008px;
}
.icomoon-info-2 {
  background-position: -196px -1008px;
}
.icomoon-question-mark {
  background-position: -224px -1008px;
}
.icomoon-pilcrow {
  background-position: -252px -1008px;
}
.icomoon-hash {
  background-position: -280px -1008px;
}
.icomoon-left-quote {
  background-position: -308px -1008px;
}
.icomoon-right-quote {
  background-position: -336px -1008px;
}
.icomoon-left-quote-alt {
  background-position: -364px -1008px;
}
.icomoon-right-quote-alt {
  background-position: -392px -1008px;
}
.icomoon-article {
  background-position: -420px -1008px;
}
.icomoon-read-more {
  background-position: 0 -1036px;
}
.icomoon-list-2 {
  background-position: -28px -1036px;
  width: 16px;
}
.icomoon-list-nested {
  background-position: -56px -1036px;
  width: 16px;
}
.icomoon-book-2 {
  background-position: -84px -1036px;
}
.icomoon-book-alt {
  background-position: -112px -1036px;
}
.icomoon-book-alt2 {
  background-position: -140px -1036px;
}
.icomoon-pen {
  background-position: -168px -1036px;
}
.icomoon-pen-alt-stroke {
  background-position: -196px -1036px;
}
.icomoon-pen-alt-fill {
  background-position: -224px -1036px;
}
.icomoon-pen-alt2 {
  background-position: -252px -1036px;
}
.icomoon-brush {
  background-position: -280px -1036px;
}
.icomoon-brush-alt {
  background-position: -308px -1036px;
}
.icomoon-eyedropper {
  background-position: -336px -1036px;
}
.icomoon-layers-alt {
  background-position: -364px -1036px;
}
.icomoon-layers {
  background-position: -392px -1036px;
}
.icomoon-image {
  background-position: -420px -1036px;
}
.icomoon-camera-5 {
  background-position: 0 -1064px;
}
.icomoon-aperture {
  background-position: -28px -1064px;
}
.icomoon-aperture-alt {
  background-position: -56px -1064px;
}
.icomoon-chart-2 {
  background-position: -84px -1064px;
  width: 15px;
}
.icomoon-chart-alt {
  background-position: -112px -1064px;
}
.icomoon-bars-2 {
  background-position: -140px -1064px;
}
.icomoon-bars-alt {
  background-position: -168px -1064px;
}
.icomoon-eye-4 {
  background-position: -196px -1064px;
}
.icomoon-user-5 {
  background-position: -224px -1064px;
}
.icomoon-home-4 {
  background-position: -252px -1064px;
}
.icomoon-clock-3 {
  background-position: -280px -1064px;
}
.icomoon-lock-stroke {
  background-position: -308px -1064px;
}
.icomoon-lock-fill {
  background-position: -336px -1064px;
}
.icomoon-unlock-stroke {
  background-position: -364px -1064px;
}
.icomoon-unlock-fill {
  background-position: -392px -1064px;
}
.icomoon-tag-stroke {
  background-position: -420px -1064px;
}
.icomoon-tag-fill {
  background-position: 0 -1092px;
}
.icomoon-sun-stroke {
  background-position: -28px -1092px;
}
.icomoon-sun-fill {
  background-position: -56px -1092px;
}
.icomoon-moon-stroke {
  background-position: -84px -1092px;
}
.icomoon-moon-fill {
  background-position: -112px -1092px;
}
.icomoon-cloud-9 {
  background-position: -140px -1092px;
}
.icomoon-rain {
  background-position: -168px -1092px;
}
.icomoon-umbrella {
  background-position: -196px -1092px;
}
.icomoon-star-6 {
  background-position: -224px -1092px;
}
.icomoon-map-pin-stroke {
  background-position: -252px -1092px;
}
.icomoon-map-pin-fill {
  background-position: -280px -1092px;
}
.icomoon-map-pin-alt {
  background-position: -308px -1092px;
}
.icomoon-target-6 {
  background-position: -336px -1092px;
}
.icomoon-download-3 {
  background-position: -364px -1092px;
}
.icomoon-upload-4 {
  background-position: -392px -1092px;
}
.icomoon-cloud-download {
  background-position: -420px -1092px;
}
.icomoon-cloud-upload {
  background-position: 0 -1120px;
}
.icomoon-fork {
  background-position: -28px -1120px;
}
.icomoon-paperclip-2 {
  background-position: -56px -1120px;
  height: 13px;
}
