//
// Wells
// --------------------------------------------------


// Base class
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: $wellBackground;
  border: 1px solid darken($wellBackground, 7%);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

// Sizes
.well-large {
  padding: 24px;
  @include border-radius(6px);
}
.well-small {
  padding: 9px;
  @include border-radius(3px);
}
.game-well {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: $navbarInverseBackgroundHighlight;
  border: 1px solid darken($navbarInverseBackgroundHighlight, 7%);
  @include border-radius(0px);  
}
.game-well-info {
  margin: 30px 0;
  padding-top: 0;
  padding-bottom: 0;
  color: darken($navbarInverseLinkColorHover, 4%);
  text-shadow: 0 -1px $black;
  background-color: darken($navbarInverseBackgroundHighlight, 3%);
  border-color: darken($navbarInverseBackgroundHighlight, 6%);
  width: 640px;
}
.game-well-info h3 {
  font-family: 'Lato', 'Helvetica', Arial, sans-serif;
  font-weight: 700;
  margin: 5px 0 1px;
}
.game-well-info p ul {
  color: darken($navbarInverseLinkColorHover, 13%);
}
.game-well-info p {
  margin-left: 10px;
}
.game-well-info a {
  color: darken($navbarInverseLinkColorHover, 60%);
}
.game-well-info ul {
  padding-left: 2px;
}
.game-well-info .btn {
  color: darken($navbarInverseLinkColorHover, 13%);
  font-size: 13px;
  background-color: darken($navbarInverseBackgroundHighlight, 1%);
  background-image: none;
  padding: 6px 16px 3px 16px;
  border: 1px solid darken($navbarInverseBackgroundHighlight, 6%);
  border-radius: 3px;
  text-shadow: none;
  text-decoration: none;
  @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.17), 0 1px 0 rgba(255,255,255,.1)});
  &:active {
    background-color: darken($navbarInverseBackgroundHighlight, 2%);
    color: darken($navbarInverseLinkColorHover, 6%);
    border: 1px solid darken($navbarInverseBackgroundHighlight, 6%);
    @include box-shadow(#{inset 0 2px 16px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1)});
  }
  &:hover {
    background-color: darken($navbarInverseBackgroundHighlight, 1%);
    color: darken($navbarInverseLinkColorHover, 4%);
  }
}
.game-well-info .btn [class^="icomoon-"],
[class*=" icomoon-"] {
  margin-top: 0;
}
.game-well-info hr {
  margin: 20px 0 5px;
  border-top: 1px solid darken($navbarInverseBackgroundHighlight, 7%);
  border-bottom: 1px solid lighten($navbarInverseBackgroundHighlight, 3%);
}
.game-well-info .muted {
  margin-left: 10px;
  color: darken($navbarInverseLinkColorHover, 40%);
  text-shadow: 0 -1px 0 darken($navbarInverseBackgroundHighlight, 5%);
}
.game-comments .headers h1 {
  margin: 10px 0 -5px;
  color: #5a5a5a;
  font-family: $accentFontFamily;
  font-size: 60px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.game-comments .headers span {
  font-weight: 700;
}
.game-comments .well {
  padding: 12px 10px;
}
.game-comments h4 {
  padding: 0;
  margin: 0 0 5px;
  font-family: $accentFontFamily;
}
.game-comments .sharebtns img {
  margin: 5px 3px;
  @include transition(all .2s ease-in-out);
  &:hover {
    margin-top: -2px;
    @include opacity(80);
  }
}
