@import "compass_twitter_bootstrap";
*::-webkit-selection,*::-moz-selection,::selection {
  background-color:$linkColor;
  color:white;
  text-decoration:none;
  text-shadow:none;
}
body {
  margin: 0;
  position: relative;
  padding-top: 40px;
  font-family: $sansFontFamily;
  font-size: $baseFontSize;
  line-height: 20px;
  color: $grayDark;
  background-color: $white;
}
.leftalign { text-align: left }
.rightalign { text-align: right }
.centeralign { text-align: center }
hr { margin: 10px 0; }
.navbar-search .search-query {
  padding: 4px 14px;
  margin-bottom: 0;
  font-family: $sansFontFamily;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  @include border-radius(15px);
}
body {
    
}
h3 code {
    font-size: 14px;
    font-weight: normal;
}
body > .navbar { font-size: 14px; }

.bs-docs-separator { margin: 40px 0 39px; }
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}
hr.harden { margin: 70px 0; }
hr.invisible {
  margin: 70px 0;
  color: transparent;
}
hr.hard { margin: 20px 0 40px 0; }
hr.soft {
  margin: 20px 0 70px;
  color: transparent;
  border: none;
}
.jumbotron {
    position: relative;
    padding: 40px 0;
    color: $white;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #a41b1b;
    @include box-shadow(#{inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2)});
}
.jumbotron00 {
    @include gradient-radial(#398AB3, #0B4866);
}
.jumbotron01 {
    @include gradient-radial(#d38312, #CF452B);
}
.jumbotron02 {
    @include gradient-radial(#5BA616, #285713);
}
.jumbotron03 {
  height: 300px;
  @include box-shadow(inset 0 3px 8px rgba(0,0,0,.3));
}
.jumbotron04 { background: $white }
.jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
    line-height: 1;
}
.jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
    line-height: 1;
}
.jumbotron p {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 30px;
}
.jumbotron a {
    color: $white;
    @include opacity(83);
    @include transition(opacity .2s ease-in-out);
}
.jumbotron a:hover {
    @include opacity(100);
}
.masthead .btn {
    padding: 14px 24px;
    font-size: 24px;
    font-weight: 200;
    color: $white;
    border: 0;
    @include border-radius(6px);
    @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.01)});
}
.masthead .btn:active {
    @include box-shadow(#{inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1)});
}
.jumbotron .container {
    position: relative;
    z-index: 2;
}
.jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/master_pat2.png) repeat center center;
    opacity: .4;
}
.jumbotron00:after { background: url(../images/master_pat4.png) repeat center center; }
.jumbotron01:after { background: url(../images/master_pat.png) repeat center center; }
.jumbotron02:after { background: url(../images/master_pat3.png) repeat center center; }
.jumbotron03:after {
    @include opacity(100);
    background: url(../images/kolben_logo.png) no-repeat center center;
    @include animation(slide 1s);
}
.masthead {
    font-family: $accentFontFamily;
    color: $white;
    padding: 70px 0 80px;
    margin-bottom: 0;
}
    .masthead h1 {
        font-family: $accentFontFamily;
        font-size: 120px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 1;
    }
    .masthead p {
        font-size: 32px;
        font-weight: 300;
        line-height: 1.25;
    }
.masthead-links {
    margin: 0;
    list-style: none;
}
    .masthead-links li {
        display: inline;
        padding: 0 10px;
        color: rgba(255,255,255,.25);
    }
.socialnav {
    min-height: 40px;
    max-height: 40px;
    padding: 10px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid $white;
    border-bottom: 1px solid #ddd;
}
.social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
    .social-buttons li {
        display: inline-block;
        padding: 5px 8px;
        line-height: 1;
        *display: inline;
        *zoom: 1;
    }
    .social-buttons a {
        color: #666;
        @include transition(all .2s ease-in-out);
    }
    .social-buttons img {
        @include opacity(100);
        @include transition(all .2s ease-in-out);
    }
    .social-buttons img:hover {
        @include opacity(80);
        margin-top: -10px;
        @include transition(all .2s ease-in-out);
    }
.subhead {
    text-align: left;
    border-bottom: 1px solid #ddd;
}
    .subhead h1 { font-size: 60px }
    .subhead p { margin-bottom: 20px }
    .subhead .navbar { display: none }
.marketing {
    text-align: center;
    color: #5a5a5a;
}
    .marketing h1 {
        margin: 60px 0 10px;
        font-family: $accentFontFamily;
        font-size: 60px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
    }
    .marketing span { font-weight: 700;}
.marketing h1 > strong { font-weight: 900 }
.marketing h2 {
    font-weight: 200;
    margin-bottom: 5px;
}
.marketing p {
    font-size: 14px;
    line-height: 1.5;
}
.marketing .marketing-byline {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    color: $grayLight;
}
.marketing .marketing-byline small {
  color: lighten($grayLight, 5%);
  font-size: 11px;
}
.marketing img {
    display: block;
    margin: 0 auto 0;
}
.marketing .aboutimg img {
  margin: 0 auto 30px;
}
.footer {
    margin-top: 240px;
    padding: 50px 0 30px 0;
    border-top: 1px solid $grayDarker;
    background-color: $grayDark;
    text-shadow: 0 -1px 0 rgba(0,0,0,.6);
}
    .footer p {
        margin-bottom: 0;
        color: $white;
        @include opacity(80);
    }
    .footer a{
        color: $white;
        @include opacity(60);
        &:hover{
          color: $white;
          @include opacity(80);
        }
    }
    .footer-links { margin: 10px 0 }
    .footer-links li {
        display: inline;
        margin-right: 10px;
    }

.minigames:first-of-type > li {
  padding-top: 22px;
}
.minigames > li {
  position: relative;
  padding-bottom: 20px;
}
.minigames > li:hover .minigames-caption {
  @include opacity(70);
}
.minigames > li img {
  height: 250px;
  width: 250px;
}
.minigames-caption {
  overflow: hidden;
  position: absolute;
  left: .52em;
  right: .52em;
  bottom: 7.7em;
  padding: 15px;
  background: $grayDark;
  background: rgba(0,0,0,.75);
  @include transition(all .2s ease-in-out);
}
.minigames-caption h4,
.minigames-caption p {
  color: $white;
  line-height: $baseLineHeight;
}
.minigames-caption h4 {
  font-family: $accentFontFamily;
  font-weight: 300;
  margin: 0 0 5px;
}
.minigames-caption p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
}
.versionsh {
    color: $white;
    text-shadow: 3px 3px 0 #E0491B,4px 4px 0 #fff,6px 6px 0 #E0AB1B,7px 7px 0 #fff,9px 9px 0 #B2E01B,10px 10px 0 #fff,12px 12px 0 #E01B50,13px 13px 0 #fff,15px 15px 0 #E01BB2;
}
.vregression {
  color: $red;
}
.vregression:before {
  content: 'Regressions: ';
}
.tumblr {
   list-style: none;
}
.tumblr > li {
  text-align: left;
  min-height: 20px;
  padding: 20px 20px;
  margin: 20px 25px 35px 0;
  background-color: $postBackground;
  @include gradient-vertical($postBackground, darken($postBackground, 5%));
  border: 1px solid rgba(153,153,153,0.6);
  border-bottom: 1px solid rgba(153,153,153,.9);
  @include border-radius(4px);
  @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,1), 0 17px 50px rgba(38,38,38,0.4)});
  @include animation(slide 1s);
}
.tumblr > li .tumblr_title {
  font-family: 'Lato',"Helvetica",Arial,sans-serif;
  font-size: 26px;
  font-weight: 900;
  background: -webkit-gradient(linear,left top,left bottom,from(#555),to(#333));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -1px;
  line-height: 20px;
  margin: 0 0 20px 0;
  padding: 0 0 15px 0;
  @include box-shadow(#{ 0 1px 0 rgba(0,0,0,.1), 0 2px 0 rgba(255,255,255,.9)});
}
.tumblr > li:first-of-type .tumblr_title:after {
  content: 'New';
  position: absolute;
  padding: 3px 8px 2px;
  margin: -12px 0 0 372px;
  font-family: $sansFontFamily;
  font-size: $baseFontSize - 1;
  letter-spacing: normal;
  font-weight: 700;
  background-color: #f5f5f5;
  -webkit-background-clip: none;
  -webkit-text-fill-color: $grayLight;
  border: 1px solid #ccc; // fallback for IE7-8
  border: 1px solid rgba(0,0,0,.15);
  @include border-radius(3px);
}
.tumblr > li:first-of-type > .nonew .tumblr_title:after {
  content: '';
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}
.tumblr > li img {
  display: block;
  padding: 4px;
  line-height: $baseLineHeight;
  border: 1px solid #ddd;
  @include border-radius(4px);
  @include box-shadow(0 1px 1px rgba(0,0,0,.055));
  @include transition(all .2s ease-in-out);
}
.tumblr > li .error {
  margin-bottom: 30px;
  border: none;
  @include border-radius(0);
  @include box-shadow(none);
  @include transition(none);
}
.tumblr > li a > img:hover {
  border-color: $linkColor;
  @include box-shadow(0 1px 4px rgba(0,105,214,.25));
}
.tumblr > li .tumblr-post-date {
  margin-top: 20px;
  color: $grayLight;
  text-shadow: 0 1px rgba(255,255,255,1);
}
.tumblr > li .error_text {
  text-align: center;
}
.tumblr > li .socialLinks > img {
  border: none;
  @include box-shadow(none);
  &:hover {
    @include box-shadow(none);
    @include opacity(80);
    @include transition(all .2s ease-in-out);
  }
}
.popover-content > p > a > img {
  padding: 4px 10px;
  @include opacity(100);
  @include transition(all .2s ease-in-out);
  &:hover {
    margin-top: -10px;
    @include opacity(80);
    @include transition(all .2s ease-in-out);
  }
}
/*===========
    Other
============*/
.applet {
  z-index: -1;
}
/*===========
  Animations
============*/
@keyframes slide
{
from {opacity: 0;margin-top: 100px;}
to {opacity: 1;margin-top: 20px;}
}
@-moz-keyframes slide /* Firefox */
{
from {opacity: 0;margin-top: 100px;}
to {opacity: 1;margin-top: 20px;}
}
@-webkit-keyframes slide /* Safari and Chrome */
{
from {opacity: 0;margin-top: 100px;}
to {opacity: 1;margin-top: 20px;}
}
@-o-keyframes slide /* Opera */
{
from {opacity: 0;margin-top: 100px;}
to {opacity: 1;margin-top: 20px;}
}
@media (max-width:980px) { 
  body > .navbar-fixed-top .brand {
      float: left;
      margin-left: 0;
      padding-left: 10px;
      padding-right: 10px;
  }
}
@media (min-width:768px) and (max-width:980px) { 
  body { padding-top: 0 }
  .jumbotron { margin-top: -20px }
}
@media (max-width:768px) { 
  body { padding-top: 0 }
  .jumbotron {
      padding: 40px 20px;
      margin-top: -20px;
      margin-right: -20px;
      margin-left: -20px;
  }
  .masthead h1 { font-size: 90px }
  .masthead p,
  .masthead .btn { font-size: 24px }
  .marketing .span4 { margin-bottom: 40px }
  .socialnav { margin: 0 -20px }
  .footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
  }
      .footer p { margin-bottom: 9px }
}
@media (max-width:480px) { 
  body { padding-top: 0 }
  h2 small { display: block }
  .jumbotron h1 { font-size: 60px }
  .jumbotron p,
  .jumbotron .btn { font-size: 20px }
  .jumbotron .btn {
      display: block;
      margin: 0 auto;
  }
  .subhead h1,
  .subhead p { text-align: center }
  .marketing h1 { font-size: 40px }
  .footer .pull-right { float: none }
}
